html {
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

body {
    height: auto;
    width: auto;
    background-color: #fdfbf8;
    margin: 0;
}

.header {
    width: 100%;
    top: 0;
    left: 0;
    background: #fdfbf8;
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .1);
    padding: 1rem 9%;
    z-index: 10;
}

.header.logo {
    font-size: 1rem;
}

footer {
    box-shadow: #959da533 0px 0px 10px 0px;
}

footer img {
    width: 100px;
    height: 100px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}

.container {
    width: 60%;
    margin: 2rem auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem;
}

.gallery__img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    display: block;
    margin-left: 335px;

}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

    /** Alternative Syntax **/
    /* grid-column: 3 / span 2;  */
    /* grid-row: 1 / span 2; */
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4;
    grid-row: 1 / span 5; */
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4;  */
    /* grid-row: 3 / span 3; */
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 1 / span 4; */
    /* grid-row: 6 / span 3; */
}

.gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;

    /** Alternative Syntax **/
    /* grid-column: 5 / span 4; */
    /* grid-row: 6 / span 3; */
}


/*.table-row {
    background-color: #653e8c;
    box-shadow: 0px 0px 9px 0px rgb(0 0 0 / 10%);
    width: 990px;
    color: #fff;
    margin-bottom: 58px;
    margin-top: -69px;
    margin-left: 167px;
}*/
li {
    border-radius: 3px;
    padding: 8px 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

/*p.reveiw {
    font-size: 20px;
    background-color: #653e8c;
    color: #fdfbf8;
    width: 675px;
    height: 45px;
    text-align: center;
    margin-left: 330px;
    border-radius: 2px;
}*/

p.reveiw{
    font-size: 29px;
    color: #653e8c;
    width: 675px;
    height: 63px;
     align-items: center; 
    text-align: center;
    margin-left: 330px;
    font-weight: bold;
    }

.breadcrumb {
    padding: 10px;
    font-size: 14.5px;
    margin-left: 30px;
    margin-top: 10px;
}

.breadcrumb ol {
    list-style-type: none;
    display: flex;
}

.breadcrumb li:not(:last-child):after {
    content: "/";
    color: #c4c4c4;
    display: inline-block;
    margin: 0 12px;
}

.breadcrumb a {
    color: #653E8C;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline
}

a[aria-current="page"] {
    color: #333;
    text-decoration: none;
}

a[aria-current="page"]:hover {
    text-decoration: none;
}
